@use 'react-grid-layout/css/styles.css';

.react-grid-item {
  transition: none;
}

.reports-workshop-grid .react-grid-item:hover {
  z-index: 1;
}

.reports-workshop-grid .react-grid-layout {
  background-color: #ffffff;
}

.reports-workshop-grid .react-grid-item.react-grid-placeholder {
  background-color: #e4eff1;
  border: 1px solid #26677a;
  border-radius: 6px;
  opacity: 1;
}

.reports-workshop-grid .react-grid-item > .react-resizable-handle::after {
  border-right: 2px solid #26677a;
  border-bottom: 2px solid #26677a;
}

@media (max-width: 729px) {
  .reports-workshop-grid .react-grid-layout {
    margin: 0 -10px;
  }
}
